<div class="card">
  <div class="card-body">
    <h4 class="card-title">Card 8</h4>
    <p class="card-text">Text for this card.</p>

  </div>
</div>
<section class="card mt-2">

  <div class="list-group">

    <a href="#" class="list-group-item list-group-item-action flex-column align-items-start">

      <div class="d-flex w-100 justify-content-between">

        <small><strong>Pris</strong></small>

        <small><strong>Idag</strong></small>

        <small><strong>Sedan köp</strong></small>

        <small><strong>Värde</strong></small>

      </div>

    </a>

    <a href="#" class="list-group-item list-group-item-action flex-column align-items-start">

      <div class="d-flex w-100 justify-content-between">

        <h5 class="mb-1">HM B</h5>

        <small class="text-muted">16:32</small>

      </div>

      <div class="d-flex w-100 justify-content-between">

        <small>123 SEK</small>

        <small class="text-success">2%</small>

        <small class="text-danger">-22%</small>

        <small>900 SEK</small>

      </div>

    </a>

    <a href="#" class="list-group-item list-group-item-action flex-column align-items-start">

      <div class="d-flex w-100 justify-content-between">

        <h5 class="mb-1">HM B</h5>

        <small class="text-muted">16:32</small>

      </div>

      <div class="d-flex w-100 justify-content-between">

        <small>123 SEK</small>

        <small class="text-success">2%</small>

        <small class="text-danger">-22%</small>

        <small>900 SEK</small>

      </div>

    </a>

    <a href="#" class="list-group-item list-group-item-action flex-column align-items-start">

      <div class="d-flex w-100 justify-content-between">

        <h5 class="mb-1">HM B</h5>

        <small class="text-muted">16:32</small>

      </div>

      <div class="d-flex w-100 justify-content-between">

        <small>123 SEK</small>

        <small class="text-success">2%</small>

        <small class="text-danger">-22%</small>

        <small>900 SEK</small>

      </div>

    </a>

    <a href="#" class="list-group-item list-group-item-action flex-column align-items-start">

      <div class="d-flex w-100 justify-content-between">

        <h5 class="mb-1">HM B</h5>

        <small class="text-muted">16:32</small>

      </div>

      <div class="d-flex w-100 justify-content-between">

        <small>123 SEK</small>

        <small class="text-success">2%</small>

        <small class="text-danger">-22%</small>

        <small>900 SEK</small>

      </div>

    </a>

    <a href="#" class="list-group-item list-group-item-action flex-column align-items-start">

      <div class="d-flex w-100 justify-content-between">

        <h5 class="mb-1">HM B</h5>

        <small class="text-muted">16:32</small>

      </div>

      <div class="d-flex w-100 justify-content-between">

        <small>123 SEK</small>

        <small class="text-success">2%</small>

        <small class="text-danger">-22%</small>

        <small>900 SEK</small>

      </div>

    </a>

    <a href="#" class="list-group-item list-group-item-action flex-column align-items-start">

      <div class="d-flex w-100 justify-content-between">

        <h5 class="mb-1">HM B</h5>

        <small class="text-muted">16:32</small>

      </div>
    </a>
  </div>
</section>
